<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HelpCat</title>
</head>
<body>
  <h1>Affichage 1 chat</h1>

  <div th:if="${affichageChat != null}">
      <p><strong>Nom :</strong> <span th:text="${affichageChat.nom}"></span></p>
      <p><strong>Race :</strong> <span th:text="${affichageChat.race}"></span></p>
      <p><strong>Âge :</strong> <span th:text="${affichageChat.age}"></span> </p>
      <p><strong>Genre :</strong> <span th:text="${affichageChat.gender}"></span></p>
      <p><strong>Description :</strong> <span th:text="${affichageChat.description}"></span></p>
  </div>

</body>
</html>